* {
    box-sizing: border-box;
}

body {
    margin : 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color : #f9faf8;
    background-color: rgb(22, 22, 22);
    margin : 0 124px 0 124px;
}

/* -- Section-1 CSS -- */
a{
    color : #f9faf8;
}

a:hover{
    color :#65a84a;
}

a:active{
    color: orange;
}

a:link , a:visited{
    text-decoration: none;
    
}

/* -- Section-1 CSS -- */
.section1{
    background-color: #1f2937;
    padding : 0 15vw 10vh 15vw;
}

.s1-header {
    display:flex;
    justify-content: space-between;
    padding-top:15px;
    padding-bottom: 10vh;;
}

.right-links {  /* header links */
    display: flex;
    gap:24px;
}

.section1-body{
    display: flex;
    justify-content : space-between;
    align-items: center;
    padding : 20px;
}

.s1-main-container {
    display: flex;
    gap : 25px;
    flex-wrap: wrap;
    width:420px;
}

.s1-text:nth-child(1) {  /* s1 <H> style text */
    font-size: 48px;
    font-weight: bolder;
    color : #f9faf8;
}

.s1-text:nth-child(2) {    /* s1 <P> style text */
    font-size: 18px;
    color : #e5e7eb;;
}

#s1-signup-btn {
    background-color: #3882f6;
    color : white;
    padding : 6px 34px;
    border-radius: 5px;
    border : #3882f6 1px solid;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 2px #738caf;
}

#s1-signup-btn:active {
    background-color: #2e6dd3;
    border : greenyellow 1px solid;
    transform: translateY(2px);
    box-shadow: 0px 0.5px #738caf; /*  horizontal , vertical , color */
}

#s1-signup-btn:hover {
    color : greenyellow;
}

.img-container {
    height :200px;
    width : 400px;
    background: #8c928a;
}
/* -- END of Section-1 CSS --*/


/* -- Section-2 CSS --*/
.section2 {
    padding:4% 0 8% 0;
    background-color: white;
    color: #1F2937;
}

.s2-header{
    padding:0px 0 3% 0;
}

.s2-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap : 72px;
}

.card-holder {  /* img-card , card holder/container */
    display: flex;
    flex-direction: column;
    width : 160px;
    align-items: center;
    text-align: center;
}

.img-card {
    border: rgb(57, 118, 209) 3px solid;
    border-radius: 12px;
    height : 160px;
    width: 160px;
}
/* -- END of Section-2 CSS --*/


/* -- Section-3 CSS --*/
.section3 {
    background-color: #e5e7eb;
    color: #1f2937;
    padding:8% 0 8% 0;
}

.s3-main-container {
    display : flex;
    justify-content: center;
}

.quote-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

.s3-text {
    font-size: 36px;
    font-style:italic;
    font-weight:lighter;
}
.signature{
    padding: 10px 5% 0 0;
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
}
/* -- END of Section-3 CSS --*/


/* -- Section-4 CSS -- */
.section4 {
    background-color: white;
    padding:8% 0 8% 0;
}

.s4-main-container{
    display: flex;
    justify-content: center;
}

.signup-container {
    display: flex;
    width : 56vw;
    padding : 2.5% 10% 2.5% 8%; /* spacing for text and button from left and right */
    border-radius : 5px;
    align-items : center;
    justify-content: space-between;
    background-color:#3882f6;
    color : white;
}


.s4-text:nth-child(1){  /* s4 bold, H style text */
    font-size: 24px; 
    font-weight: bold;
}

.s4-text:nth-child(2){ /* s4 P style text */
    font-size: 16px;
    font-weight: lighter;
}

#s4-signup-btn {
    padding : 10px 44px;
    background-color: #3882f6;
    border: white 2px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    color : white;
    box-shadow: 0px 2px #738caf;
}

#s4-signup-btn:active {
    background-color: #2e6dd3;
    border : greenyellow 1px solid;
    transform: translateY(2px);
    box-shadow: 0px 0.5px #738caf; /*  horizontal , vertical , color */
}

#s4-signup-btn:hover {
    color : greenyellow;
}
/* -- END of Section-4 CSS --*/

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding : 2%;
    background-color: #1f2937;
}