* {
    box-sizing: border-box;
}

body {
    margin : 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color : #f9faf8;
    background-color: rgb(22, 22, 22);
    /* margin : 0 124px 0 124px; */
}

ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
}

a{
    color : #f9faf8;
}

a:hover{
    color :#65a84a;
}

a:active{
    color: orange;
}

a:link , a:visited{
    text-decoration: none;
    
}

.section1{
    background-color: #1f2937;
    border :#65a84a 1px solid;
    padding : 0 15vw 10vh 15vw;
}

.s1-text:nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
    color : #f9faf8;
}

.s1-text:nth-child(2) {
    font-size: 18px;
    color : #e5e7eb;;
}

.s1-header {
    display:flex;
    justify-content: space-between;
    padding-top:15px;
    padding-bottom: 10vh;;
}

.right-links {
    display: flex;
    gap:24px;
}

.section1-body{
    display: flex;
    justify-content : space-between;
    border : rgb(210, 111, 219) 1px solid;
}

.s1-main-container {
    display: flex;
    gap : 25px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    width:420px;
    
    border : red 1px solid;
}

.img-container {
    height :200px;
    width : 400px;
    /* padding-top : 15px; */
    background: #65a84a;
}

.section2 {
    min-height : 400px; 
    padding : 24px;
    background-color: white;
    color: #1F2937;
}

.s2-header{
    padding:24px 0 40px 0;
}

.s2-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-content: center;
    gap : 52px;
}

.card-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width : 160px;
    
    align-items: center;
    text-align: center;
    border: rgb(169, 209, 57) 1px solid;
    
}

.img-card {
    border: rgb(57, 118, 209) 3px solid;
    border-radius: 12px;
    height : 160px;
    width: 160px;
}

.section3 {
    background-color: #e5e7eb;
    color: #1f2937;
    padding:8% 0 8% 0;
}

.s3-main-container {
    display : flex;
    justify-content: center;
    /* padding : 8%; */
}

.quote-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    border: rgb(236, 44, 188) 1px solid;
}

.s3-text {
    font-size: 36px;
    font-style:italic;
    font-weight:lighter;
}
.signature{
    padding: 10px 5% 0 0;
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
}

.section4 {
    background-color: white;
    padding:8% 0 8% 0;
}

.s4-main-container{
    display: flex;
    justify-content: center;
    
}

.signup-container {
    display: flex;
    /* flex:1; */
    width : 56vw;
    /* height : 14vh; */
    padding : 2.5% 10% 2.5% 8%;
    border-radius : 5px;
    align-items : center;
    /* justify-content: center; */
    justify-content: space-between;
    background-color:#3882f6;
    color : white;
    

}

.signup-text {
    /* padding-left : 70px; */

}

.s4-text:nth-child(1){
    font-size: 24px;
    font-weight: bold;
}

.s4-text:nth-child(2){
    font-size: 16px;
    font-weight: lighter;
}

.signup-button {
    padding : 10px 44px;
    background-color: #3882f6;
    border: white 2px solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    color : white;
}


.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    padding : 2%;
    background-color: #1f2937;
}